.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/* Left section on blog */
.leftBlogWrapper {
    border: 1px solid #c2c2c2;
    padding: 10px;
}

.titHeadingBlog {
    margin-bottom: 20px;
    text-transform: uppercase;
}

#leftBlogSection .block-title > strong {
    font-weight: bold;
    text-transform: uppercase;
}

.post-item-link, .archive-item-link,
#leftBlogSection .block-title a {
    color: #474747 !important;
}

.post-item-link:hover,
.archive-item-link:hover,
#leftBlogSection .block-title a:hover {
    color: #ff6129 !important;
}

/* # Left section on blog */

.toolbar-blog-posts {
    text-align: right;
}

.post-inner-wrap {
    padding: 30px 15px;
    border: 1px solid #c2c2c2;
}

.post-holder .post-header {
    position: relative;
}

.post-holder .post-header .post-info {
    padding: 0 0 10px 0;
}

.post-holder .post-categories a {
    color: #474747;
}

.post-holder .post-categories a:hover {
    color: #ff6129;
    text-decoration: none;
}

.post-holder .post-header .post-info .item,
.post-holder .post-header .post-info .dash {
    display: inline-block;
}

.post-holder .post-header .post-info .label {
    font-weight: 700;
}

.post-holder .post-header .post-info .value {
    font-style: italic;
}

.post-content .post-description ul,
.post-content .post-description ol {
    list-style-position: inside;
}

.post-content .post-description .post-ftimg-hld {
    float: left;
    margin: 0 12px 0 0;
    width: 33%;
    min-width: 100px;
}

.post-content .post-description .post-ftimg-hld > a {
    display: block;
}

.post-list .post-header .post-title a {
    text-decoration: none;
    font-size: 18px;
}

.post-title-holder {
    margin-bottom: 10px;
}

.post-header .post-title {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
}

.post-holder .post-header .addthis_toolbox {
    float: right;
}

.widget.block-recent-posts .block-content .item {
    padding: 8px 0 0 0;
}

.widget.block-rss .rss-icon {
    float: left;
    width: 23px;
    padding-right: 10px;
}

.widget.blog-search {
    width: 100%;
    margin-bottom: 40px;
    position: relative;
    float: left;
}

.widget.blog-search .block-content {
    margin-bottom: 0;
}

.widget.blog-search label {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    text-decoration: none;
    display: inline-block;
    float: right;
}

.widget.blog-search .control {
    border-top: 0;
    margin: 0;
    padding: 0;
    clear: both;
}

.widget.blog-search input {
    position: static;
    padding-right: 35px;
    margin: 0;
    left: -300%;
}

.widget.blog-search .action.search {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    display: inline-block;
    background: none;
    -moz-box-sizing: content-box;
    border: 0;
    box-shadow: none;
    line-height: inherit;
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-shadow: none;
    font-weight: 400;
}

.widget.blog-search .action.search:before {
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    height: 30px;
    content: '';
    background: url(../images/search.png) no-repeat center;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    line-height: 32px;
    color: #8f8f8f;
    font-weight: normal;
    vertical-align: middle;
    display: inline-block;
    overflow: hidden;
    text-align: center;
}

.widget.blog-search .action.search > span {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/* List category blog */
.post-list-wrapper {
    overflow: hidden;
}

.post-list {
    margin: 0 -10px;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

.post-list .post-holder {
    padding: 10px;
    width: 33.3333%;
    float: left;
    margin: 0;
}

.post-list li.post-holder:nth-child(3n+1) {
    clear: both;
}

.post-list .post-content .post-read-more {
    float: right;
    color: #ff6129;
    font-style: italic;
}

@media only screen and (min-width: 992px) and (max-width: 1200px), (min-width: 481px) and (max-width: 767px) {
    .post-list .post-holder {
        width: 50%;
    }

    .post-list li.post-holder:nth-child(3n+1) {
        clear: none;
    }

    .post-list li.post-holder:nth-child(2n+1) {
        clear: both;
    }
}

@media only screen and (max-width: 480px), (min-width: 768px) and (max-width: 991px) {
    .post-list .post-holder {
        width: 100%;
    }
}

/* # List category blog */

/* Detail blog */
.post-view {
    margin-top: 30px;
}

.post-view .post-holder {
    width: 100%;
    padding: 20px;
    border: 1px solid #c2c2c2;
}

.post-view .post-bottom {
    margin-top: 30px;
}

.post-view .block {
    margin-bottom: 30px;
}

.post-view .post-title {
    font-size: 20px;
}

@media only screen and (max-width: 480px), (min-width: 768px) and (max-width: 991px) {
    .post-list .post-holder {
        width: 100%;
    }
}

/* # Detail blog */

/* Category Menu */
.blogMenu {
    margin: 0;
    padding: 0;
    list-style: none;
}

.blogMenu li {
    list-style: none;
    clear: both;
    padding: 5px 0;
    margin: 0;
    overflow: hidden;
}

.blogMenu a {
    color: #474747;
    text-decoration: none;
}

.blogMenu a:hover {
    color: #ff5f2b;
}

.blogMenu .dropBlogMenu {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid #999;
    text-align: center;
    color: #999;
    font-size: 20px;
    line-height: 14px;
    margin: 2px 0 0 10px;
    cursor: pointer;
}

.blogMenu li.hasSub {
    padding-bottom: 0;
}

.blogMenu li.hasSub > a {
    max-width: calc(100% - 40px);
    float: left;
}

.blogMenu ul.subMenu {
    padding: 0 0 0 20px;
    display: none;
}

@media only screen and (max-width: 767px) {
    .leftBlogWrapper {
        border: none;
        padding: 0;
    }

    .blogMenu {
        background: #e1e1e1;
    }

    .blogMenu li {
        padding: 8px 0;
        border-bottom: 1px solid #c2c2c2;
    }

    .blogMenu > li:last-child {
        border: none;
    }

    .blogMenu li.hasSub {
        padding: 0;
    }

    .blogMenu ul.subMenu {
        padding: 0;
        border-top: 1px solid #c2c2c2;
        clear: both;
    }

    .blogMenu ul.subMenu > li:last-child {
        border: none;
    }

    .blogMenu li.hasSub > a {
        padding: 8px 0;
    }

    .blogMenu li.li-lv-0 > a {
        padding-left: 15px;
    }

    .blogMenu li.li-lv-1 > a {
        padding-left: 30px;
    }

    .blogMenu li.li-lv-2 > a {
        padding-left: 45px;
    }

    .blogMenu .dropBlogMenu {
        margin: 10px 0 0 10px;
    }

    .blogMenu ul.subMenu.ul-lv-2, .blogMenu ul.subMenu.ul-lv-2 a {
        background: #474747;
        color: #fff;
    }
}

/* # Category Menu */






