

body {
	color: #464646;
}

/* image responsive */
.img-resp {
	position: relative;
	width: 100%;
	background: #000;
	overflow: hidden;
}
.img-resp > img {
	width: 100%;
	height: auto;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	margin: auto;
}
.img-resp > img.fullHeight {
	height: 100%;
}
.img100 {
	padding-bottom: 100%;
}

.img-full {
	width: 100%;
	max-width: 100%;
	height: auto;
}
/* # image responsive */

.pad10 {
	padding-bottom: 10px;
}
.pad20 {
	padding-bottom: 20px;
}
.pad30 {
	padding-bottom: 30px;
}
.pad40 {
	padding-bottom: 40px;
}
.pad50 {
	padding-bottom: 50px;
}
.pad100 {
	padding-bottom: 50px;
}


/* GRID */
@media only screen and (max-width: 1239px) {
	.col-1200, #maincontent {
		width: 100%;
		padding-left: 20px !important;
		padding-right: 20px !important;
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
}
@media only screen and (max-width: 767px) {
	.col-1200, #maincontent {
		padding-left: 10px !important;
		padding-right: 10px !important;
	}
}
@media only screen and (min-width: 1240px) {
	.col-1200, #maincontent {
		width: 1200px !important;
		margin-left: auto !important;
		margin-right: auto !important;
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
}
/* # GRID */

/* breadcrumbs */
.breadcrumbs {
	padding: 0;
	margin: 0;
}
.breadcrumbs .item:not(:last-child):after {
	margin: 0 -5px;
}

/* Footer */
#ft_head {
	background: #464646;
	color: #e2e2e2;
}
#ft_head_left {
	float: left;
}
#ft_head_right {
	float: right;
	padding: 0 20px 0 0;
	line-height: 40px;
}
#ft_cpr {
	background: #636363;
	text-align: center;
	color: #3b3b3b;
	padding: 10px 0;
}
.ft_online_txt {
	float: left;
	padding: 10px 50px 10px 20px;
	font-weight: bold;
}
.ft_menu {
	float: left;
	padding: 0;
}
.ft_menu > div {
	float: left;
}
.ft_menu a {
	color: #fff;
	text-decoration: none !important;
	line-height: 40px;
	display: inline-block;
}
.ft_menu span {
	padding: 0 10px;
}
#ft_head_right .ft_fb {
	margin-left: 10px;
}
#ft_head_right .ft_fb > img {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50% ;
}
#ft_head_right .ft_hidden {
	padding: 0 10px;
}
#ft_head_right .name_company, #ft_head_right em,
#ft_minus, #ft_cpr .clr {
	display: none;
}

@media only screen and (max-width: 1079px) {
	.ft_hidden {
		display: none
	}
	#ft_head_left {
		width: 100%;
	}
	#ft_head_right {
		float: left;
		padding: 10px 20px 15px;
	}
	#ft_head_right em {
		display: block;
		float: left;
		padding-right: 5px;
		font-style: normal;
	}
	#ft_head_right .name_company {
		display: block;
		font-weight: bold;
	}
	#ft_head_right span {
		float: left;
		clear: both;
		line-height: 25px;
	}
	#ft_head_right .ft_fb {
		margin-left: 0;
		margin-top: 6px;
	}
	.ft_online_txt {
		float: left;
		padding: 10px 20px;
		font-weight: bold;
		width: 100%;
		cursor: pointer;
		border-bottom: 1px solid #e1e1e1;
	}
	.ft_menu {
		width: 100%;
		display: none;
	}
	.ft_menu a {
		width: 100%;
		color: #464646;
		padding-left: 40px;
		background: #959595;
		border-top: 1px solid #e1e1e1;
	}
	.ft_menu.activated {
		display: block;
	}
	.ft_online_txt span {
		float: left;
	}
	#ft_minus {
		font-weight: bold;
		margin-left: 20px;
		width: 20px; height: 20px;
		line-height: 20px;
		display: inline-block;
		text-align: center;
		border: 1px solid #fff;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
	}

}
@media only screen and (max-width: 380px) {
	#ft_cpr .clr {
		display: block;
	}
}
/* # Footer */


/* Header */
.page-header .panel.wrapper {
	background: #e1e1e1;
}
/* # Header */


.page-title {
    font-weight: bold;
    text-transform: uppercase;
}

/* Contact page */
#ggMapWrap {
    height:500px;
}
#contact-wrapper {
	padding-top: 30px;
	color: #474747;
}
#cont_left_info p {
	margin: 0 0 20px;
	color: #474747;
}
.cont_head {
	font-size: 18px;
	font-weight: bold;
}
#cont_right_form {

}
#contact-form {
	padding: 20px;
	border: 1px solid #c2c2c2;
}
#contact-form .comment .control {
	float: left;
	clear: both;
	width: 100%;
    margin-top: 10px;
}
#contact-form .comment .label {
    width: 100%;
}
#contact-form .fieldset { margin: 0 0 10px }
#contact-form .fieldset > .field > .label {
	padding: 6px 15px 0 0;
	text-align: left;
	font-weight: normal;
}
#contact-form .fieldset > .field {
	margin: 0 0 15px;
}
#contact-form .fieldset > .field.name {
    margin-top: 30px;
}
#contact-form .actions-toolbar {
    margin: 0;
    text-align: center;
}
#contact-form .actions-toolbar .primary {
    float: none;
    margin: 0;
    border: 0;
    border-radius: 0;
    background: #464646;
    padding: 5px 15px;
    display: inline-block;
}

@media only screen and (max-width: 767px) {
    #ggMapWrap {
        height: 300px;
    }
    #contact-form .actions-toolbar {
        margin: 20px 0 0;
    }
    #contact-form .fieldset > .field.name {
        margin-top: 15px;
    }
    #contact-form .comment .control {
        margin-top: 0;
    }
}
/* # Contact page */

/* About Us Page */
#about_left img {
    width: 100%;
}
#about_right p {
    margin: 0 0 15px;
}
#about_right p:first-child {
    font-size: 24px;
    font-weight: 600;
    margin-top: -10px;
}
/* # About Us Page */

/* Category page - page-layout-2columns-left */
#page-title-heading {
	margin: 5px 0 30px;
	font-size: 30px;
}
.page-layout-2columns-left .column.main .product-items {
	margin: 20px 0 !important;
}
.page-layout-2columns-left .sidebar-main {
	float: left;
	width: 300px;
	padding: 0 20px 0 0;
}
.page-layout-2columns-left .column.main {
	float: right;
	width: calc(100% - 302px);
}

.toolbar.toolbar-products .field.limiter{
	display: none;
}

.products.wrapper ~ .toolbar .sorter,
.toolbar-products .pages {
	 display: block;
}

.toolbar-products {
	padding: 0;
}
.toolbar-products .toolbar-sorter {
	float: left !important;
}
.toolbar-products .pages {
	float: right !important;
}
.pages .item a, a.viewAllProductBt, .pages .item a:visited {
	color: #474747;
}
.pages a.page:hover, a.viewAllProductBt:hover,
.pages .item.current strong.page {
	color: #ff5f29;
}
.pages .item.current a {
	color: #000;
}

.page-products .products-grid .product-item {
	padding: 5px;
	border: 1px solid #e1e1e1;
	width: calc((100% - 40px) / 3) !important;
	margin-left: 20px !important;
}
.page-products .products-grid .product-item:nth-child(3n+1) {
	margin-left: 0 !important;
}
.page-products .products-grid .product-item .product-item-info {
	margin: 0;
	width: 100%;

}
.page-products .product-image-container {
	width: 100% !important;
}
.page-products .product-image-photo {
	width: 100%;
}

.block.filter {
	margin-bottom: 40px;
	display: none;
}
	/* Button */
.products-grid .product-item-actions {
	margin: 0;
}
.products-grid .product-item-actions .actions-primary {
	display: block;
}
.products-grid .product-item-actions .actions-secondary {
	display: none;
}
.action.primary {
	width: 125px;
	float: right;
	background: #474747 !important;
	border: none !important;
	border-radius: 0;
	text-transform: uppercase;
	padding: 12px 0;
}
	/* # button */

	/* left Menu SideBar */
.titleLeftSidebar {
	margin: 0 0 20px;
}
.leftMenuDiv {
	border: 1px solid #e1e1e1;
	padding: 10px;
}
#leftMenuUl {
	padding: 0;
	margin: 0;
	overflow: hidden;
}

#leftMenuUl ul {
	padding: 5px 0 0 20px;
	list-style: none;
	clear: both;
	display: none;
}
#leftMenuUl li {
	list-style: none;
	clear: both;
	padding: 5px 0;
	margin: 0;
	overflow: hidden;
}
#leftMenuUl li.hasSub {
	padding-bottom: 0;
}
.title-ct-leftMenu {
	line-height: 1;
}
.title-ct-leftMenu > a {
	max-width: calc(100% - 40px);
	float: left;
	text-transform: uppercase;
	color: #474747;
	text-decoration: none;
}
.title-ct-leftMenu > a:hover {
	color: #ff5f2b;
}
.dropLeftMenu {
	display: block;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	border: 1px solid #999;
	float: left;
	text-align: center;
	color: #999;
	font-size: 20px;
	line-height: 14px;
	margin-left: 10px;
	cursor: pointer;
}
#leftMenuUl li.active > ul {
	display: block;
}

	/* # left Menu SideBar */


@media only screen and (max-width: 980px) {
	.page-products .products-grid .product-item {
		padding: 5px;
		border: 1px solid #e1e1e1;
		width: calc((100% - 20px) / 2) !important;
		margin-left: 20px !important;
		margin-bottom: 20px !important;
	}
	.page-products .products-grid .product-item:nth-child(3n+1) {
		margin-left: 20px !important;
	}
	.page-products .products-grid .product-item:nth-child(2n+1) {
		margin-left: 0 !important;
	}
	.product-item-actions {
		display: block;
	}
}
@media only screen and (max-width: 767px) {
	.action.primary {
		width: 100%;
	}
}
/* Category page - page-layout-2columns-left */


/* Home page */
	/* Carousel */
.carousel-inner-fix {
	position: relative;
	width: 100%;
	padding: 0 35px;
	margin: 0 auto;
	overflow: hidden;
}
.prevButtonWrap, .nextButtonWrap  {
	position: absolute;
	top: 0;
	width: 35px;
	height: 100%;
}
.prevButtonWrap > img, .nextButtonWrap > img  {
	position: absolute; top: 50%;
	-webkit-transform: translate(0, -50%);
	-moz-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	-o-transform: translate(0, -50%);
	transform: translate(0, -50%);
}
.prevButtonWrap, .prevButtonWrap > img { left: 0 }
.nextButtonWrap, .nextButtonWrap > img { right: 0 }

.HS-item-wrap {
	border: 1px solid #e1e1e1;
	padding: 10px;
	margin: 0 0 20px;
}
.HS-item-wrap a {
	text-decoration: none;
}
.HS-item-wrap p {
	color: #8d8d8d;
	padding: 10px 0 0;
	margin: 0;
}
.head-homePage {
	color: #474747;
	margin: 0;
	font-weight: 600;
	padding: 0 0 20px;
	font-size: 18px;
	text-transform: uppercase;
}
#bannerHS img {
	max-width: 100%;
	width: 100%;
}
ol.carousel-indicators {
	position: relative;
	bottom: 0;
	width: 100%;
	padding: 0 10px;
	margin: 5px 0 30px;
	left: 50%;
	-webkit-transform: translate(-50%, 0);
	-moz-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	-o-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
}
.carousel-indicators li {
	background: #939393;
	border: none;
}
.carousel-indicators li.active {
	background: #424242;
}
@media only screen and (max-width: 479px) {
	.homeSlider .col-xs-6 {
		width: 100%;
	}
}
/* # Home page */