
body {
    color: #474747;
}

/* image responsive */
.img-resp {
    position: relative;
    width: 100%;
    background: #000;
    overflow: hidden;
}

.noBg {
    background: transparent;
}

.img-resp > img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.img-resp > img.fullHeight {
    height: 100%;
}

.img100 {
    padding-bottom: 100%;
}

.img-full {
    width: 100%;
    max-width: 100%;
    height: auto;
}

/* # image responsive */

.pad10 {
    padding-bottom: 10px;
}

.pad20 {
    padding-bottom: 20px;
}

.pad30 {
    padding-bottom: 30px;
}

.pad40 {
    padding-bottom: 40px;
}

.pad50 {
    padding-bottom: 50px;
}

.pad100 {
    padding-bottom: 50px;
}

/* GRID */
@media only screen and (max-width: 1239px) {
    .col-1200, #maincontent {
        width: 100%;
        padding-left: 20px !important;
        padding-right: 20px !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}

@media only screen and (max-width: 767px) {
    .col-1200, #maincontent {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
}

@media only screen and (min-width: 1240px) {
    .col-1200, #maincontent {
        width: 1200px !important;
        margin-left: auto !important;
        margin-right: auto !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

/* # GRID */

/* breadcrumbs */
.breadcrumbs {
    padding: 0;
    margin: 0;
}

.breadcrumbs .item:not(:last-child):after {
    margin: 0 -5px;
}

/* Footer */
#ft_head {
    background: #464646;
    color: #e2e2e2;
}

#ft_head_left {
    float: left;
}

#ft_head_right {
    float: right;
    padding: 0 20px 0 0;
    line-height: 40px;
}

#ft_cpr {
    background: #636363;
    text-align: center;
    color: #3b3b3b;
    padding: 10px 0;
}

.ft_online_txt {
    float: left;
    padding: 10px 50px 10px 20px;
    font-weight: bold;
}

.ft_menu {
    float: left;
    padding: 0;
}

.ft_menu > div {
    float: left;
}

.ft_menu a {
    color: #fff;
    text-decoration: none !important;
    line-height: 40px;
    display: inline-block;
}

.ft_menu span {
    padding: 0 10px;
}

#ft_head_right .ft_fb {
    margin-left: 10px;
}

#ft_head_right .ft_fb > img {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

#ft_head_right .ft_hidden {
    padding: 0 10px;
}

#ft_head_right .name_company, #ft_head_right em,
#ft_minus, #ft_cpr .clr {
    display: none;
}

@media only screen and (max-width: 1079px) {
    .ft_hidden {
        display: none
    }

    #ft_head_left {
        width: 100%;
    }

    #ft_head_right {
        float: left;
        padding: 10px 20px 15px;
    }

    #ft_head_right em {
        display: block;
        float: left;
        padding-right: 5px;
        font-style: normal;
    }

    #ft_head_right .name_company {
        display: block;
        font-weight: bold;
    }

    #ft_head_right span {
        float: left;
        clear: both;
        line-height: 25px;
    }

    #ft_head_right .ft_fb {
        margin-left: 0;
        margin-top: 6px;
    }

    .ft_online_txt {
        float: left;
        padding: 10px 20px;
        font-weight: bold;
        width: 100%;
        cursor: pointer;
        border-bottom: 1px solid #e1e1e1;
    }

    .ft_menu {
        width: 100%;
        display: none;
    }

    .ft_menu a {
        width: 100%;
        color: #464646;
        padding-left: 40px;
        background: #959595;
        border-top: 1px solid #e1e1e1;
    }

    .ft_menu.activated {
        display: block;
    }

    .ft_online_txt span {
        float: left;
    }

    #ft_minus {
        font-weight: bold;
        margin-left: 20px;
        width: 20px;
        height: 20px;
        line-height: 20px;
        display: inline-block;
        text-align: center;
        border: 1px solid #fff;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
    }

}

@media only screen and (max-width: 380px) {
    #ft_cpr .clr {
        display: block;
    }
}

/* # Footer */

/* Header */
.page-header {
    margin-bottom: 20px;
}
.nav-sections {
    margin-bottom: 0;
}
.page-header .header.panel {
    width: 100%;
    max-width: 100%;
}

.page-header .panel.wrapper {
    background: #e1e1e1;
    padding: 0 !important;
}

.header.panel > .header.links > li a {
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
}

/* mini cart */
.minicart-wrapper .showcart {
    font-size: 14px;
    color: #000;
    text-decoration: none;
}

/* # mini cart*/

.header.content {
    border-bottom: 1px solid #e1e1e1;
    padding: 30px 20px 0;
    width: 100%;
    max-width: 100%;
    z-index: 2;
}

/* navigation */
.navigation {
    float: left;
    margin: 0 0 0 20px;
}

/* Search */
.block-search {
    width: auto;
    margin-top: 10px;
    z-index: 1;
}

.block-search .nested {
    display: none;
}

.block-search input {
    position: relative;
    padding: 5px;
    left: auto;
    width: 150px;
    margin-right: 75px;
    border: none;
    color: #000;
    background: #c2c2c2;
}

.block-search .action.search:before {
    display: none;
}

.block-search .action.search {
    right: 0;
    color: #000;
    opacity: 1 !important;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
}

.block-search .action.search > span {
    margin: 0;
    position: relative;
}

/* Menu */
#topMenu {
    background: transparent;
    text-transform: uppercase;
    float: left;
    font-weight: bold;
    margin: 0 0 0 20px;
    padding: 0;
}

#topMenu > ul {
    padding: 0;
    margin: 0;
}

#topMenu .level0.active > .level-top, #topMenu .level0.has-active > .level-top {
    border: none;
    color: #ff6129;
}

#topMenu .level0 {
    display: inline-block;
    padding: 0 10px 32px;
    margin: 0;
}

#topMenu .level0 > .level-top {
    position: relative;
    color: #000;
    line-height: 50px;
    padding: 10px 0;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#topMenu .level0 > .submenu a {
    color: #fff;
    text-decoration: none;
}

#topMenu .level0 > .submenu {
    display: none;
    position: absolute;
    top: 110px;
    left: 0;
    width: 100%;
    max-width: 100%;
    background: #ff6129;
    padding: 50px;
    z-index: 4;
}
#topMenu .level0:not(.isMobile):hover > .submenu {
    display: block;
}

#topMenu .level0 > .submenu > li {
    float: left;
    width: 25%;
    padding-right: 10px;
    margin-bottom: 10px;
}

#topMenu .level0 > .submenu .submenu {
    margin: 0;
    padding-left: 20px;
}

.header.content .logo {
    z-index: 1;
}

@media only screen and (max-width: 1250px) {
    .block-search .action.search,
    .block-search .label,
    .block-search, #topMenu {
        display: none;
    }
    .nav-toggle { display: block }

    .nav-sections {
        margin-bottom: 0;
    }

    .page-header {
        border: none;
        margin: 0 0 30px;
    }
    .page-header .panel.wrapper {
        padding-bottom: 40px;
    }

    .header.content {
        padding: 0 0 20px;
    }

    .header.content .logo {
        position: relative;
        z-index: 5;
        float: none;
        max-width: 100%;
        width: 100%;
        margin: 0;
        clear: both;
    }
    .header.content .logo > img {
        max-width: 100%;
        display: block;
        height: auto;
        max-height: 100%;
        margin: 10px auto;
    }

    .block-search {
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .block-search .control {
        border: none;
        clear: both;
        margin: 0;
        padding: 0;
    }
    #search {
        width: 100%;
        outline: 0;
        box-shadow: none;
        padding: 0 20px;
        height: 40px;
        margin: 0;
    }
    #search::-webkit-input-placeholder {
        color: #464646;
        font-style: italic;
    }
    #search:-moz-placeholder { /* Firefox 18- */
        color: #464646;
        font-style: italic;
    }
    #search::-moz-placeholder {  /* Firefox 19+ */
        color: #464646;
        font-style: italic;
    }
    #search:-ms-input-placeholder {
        color: #464646;
        font-style: italic;
    }

    /* menu */
    .nav-toggle:before, .nav-toggle:hover:before {
        font-size: 40px;
        color: #828282;
    }
    #topMenu {
        margin: 0;
        width: 100%;
    }
    #topMenu li {
        width: 100%;
        background: #e1e1e1;
    }
    #topMenu li.level0 {
        border-bottom: 1px solid #c2c2c2;
        float: left;
    }
    #topMenu .level0 > .submenu {
        display: block;
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        max-width: 100%;
        background: #464646;
        padding: 0;
        z-index: 4;
    }
    #topMenu .level0 {
        padding: 0;
        line-height: 2;
    }
    #topMenu .level0 > .level-top {
        padding: 4px 0 4px 20px;
        line-height: 1.42857143;
        float: left;
    }
    #topMenu .level0 .submenu > li {
        float: left;
        width: 100%;
        padding: 0;
        margin: 0;
        background: #464646;
        border-bottom: 1px solid #636363;
    }
    #topMenu .level0 .submenu > li.first {
        border-top: 1px solid #636363;
    }
    #topMenu .level0 .submenu > li.parent {
        border-bottom: none;
    }
    #topMenu .level0 > .submenu .submenu {
        margin: 0;
        padding-left: 0;
    }

    #topMenu .level0.submenu > li > a {
        padding: 0 10px 0 40px;
    }
    #topMenu .level1.submenu > li > a {
        padding: 0 10px 0 60px;
    }
    #topMenu .level2.submenu > li > a {
        padding: 0 10px 0 80px;
    }

    #topMenu li.level0.parent > span  {
        display: inline-block;
        padding: 0;
        margin: 6px 10px 0 20px;
        width: 15px;
        height: 15px;
        line-height: 1;
        border: 1px solid;
        color: #000;
        text-align: center;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        cursor: pointer;
    }
    #topMenu > ul > li.level0 > ul.submenu {
        display: none;
    }
}

/* # Header */

.page-title {
    font-weight: bold;
    text-transform: uppercase;
}

/* Contact page */
#ggMapWrap {
    height: 500px;
}

#contact-wrapper {
    padding-top: 30px;
    color: #474747;
}

#cont_left_info p {
    margin: 0 0 20px;
    color: #474747;
}

.cont_head {
    font-size: 18px;
    font-weight: bold;
}

#cont_right_form {

}

#contact-form {
    padding: 20px;
    border: 1px solid #c2c2c2;
}

#contact-form .comment .control {
    float: left;
    clear: both;
    width: 100%;
    margin-top: 10px;
}

#contact-form .comment .label {
    width: 100%;
}

#contact-form .fieldset {
    margin: 0 0 10px
}

#contact-form .fieldset > .field > .label {
    padding: 6px 15px 0 0;
    text-align: left;
    font-weight: normal;
}

#contact-form .fieldset > .field {
    margin: 0 0 15px;
}

#contact-form .fieldset > .field.name {
    margin-top: 30px;
}

#contact-form .actions-toolbar {
    margin: 0;
    text-align: center;
}

#contact-form .actions-toolbar .primary {
    float: none;
    margin: 0;
    border: 0;
    border-radius: 0;
    background: #464646;
    padding: 5px 15px;
    display: inline-block;
}

@media only screen and (max-width: 767px) {
    #ggMapWrap {
        height: 300px;
    }

    #contact-form .actions-toolbar {
        margin: 20px 0 0;
    }

    #contact-form .fieldset > .field.name {
        margin-top: 15px;
    }

    #contact-form .comment .control {
        margin-top: 0;
    }
}

/* # Contact page */

/* About Us Page */
#about_left img {
    width: 100%;
}

#about_right p {
    margin: 0 0 15px;
}

#about_right p:first-child {
    font-size: 24px;
    font-weight: 600;
    margin-top: -10px;
}

/* # About Us Page */

/* Category page - page-layout-2columns-left */
#page-title-heading {
    margin: 5px 0 30px;
    font-size: 30px;
}

.page-layout-2columns-left .column.main .product-items {
    margin: 20px 0 !important;
}

.page-layout-2columns-left .sidebar-main {
    float: left;
    width: 300px;
    padding: 0 20px 0 0;
}

.page-layout-2columns-left .column.main {
    float: right;
    width: calc(100% - 302px);
}

.toolbar.toolbar-products .field.limiter {
    display: none;
}

.products.wrapper ~ .toolbar .sorter,
.toolbar-products .pages {
    display: block;
}

.toolbar-products {
    padding: 0;
}

.toolbar-products .toolbar-sorter {
    float: left !important;
}

.toolbar-products .pages {
    float: right !important;
}

.pages .item a, a.viewAllProductBt, .pages .item a:visited {
    color: #474747;
}

.pages a.page:hover, a.viewAllProductBt:hover,
.pages .item.current strong.page {
    color: #ff5f29;
}

.pages .item.current a {
    color: #000;
}

.page-products .products-grid .product-item {
    padding: 5px;
    border: 1px solid #e1e1e1;
    width: calc((100% - 40px) / 3) !important;
    margin-left: 20px !important;
}

.page-products .products-grid .product-item:nth-child(3n+1) {
    margin-left: 0 !important;
}

.page-products .products-grid .product-item .product-item-info {
    margin: 0;
    width: 100%;

}

.page-products .product-image-container {
    width: 100% !important;
}

.page-products .product-image-photo {
    width: 100%;
}

.block.filter {
    margin-bottom: 40px;
    display: none;
}

/* Button */
.products-grid .product-item-actions {
    margin: 0;
}

.products-grid .product-item-actions .actions-primary {
    display: block;
}

.products-grid .product-item-actions .actions-secondary {
    display: none;
}

.products-grid .action.primary {
    width: 125px;
    float: right;
    background: #474747 !important;
    border: none !important;
    border-radius: 0;
    text-transform: uppercase;
    padding: 12px 0;
    margin-top: 5px;
}

.product-item .price-box {
    margin: 5px 0;
}

.products-grid .price-box .price {
    font-size: 26px;
    color: #474747;
    font-weight: normal;
}

.products-grid .product-item-link {
    color: #8d8d8d !important;
    text-decoration: none !important;
}

.qv-tv-wrap {
    float: left;
}

.qv-tv-wrap a {
    text-decoration: none !important;
    color: #8d8d8d !important;
}

.list-quickView {
    float: left;
    margin-bottom: 5px;
}

.list-trainVideo {
    float: left;
    clear: left;
}

@media only screen and (max-width: 1180px) {
    .products-grid .action.primary {
        width: 100%;
    }
}

/* # button */

/* left Menu - category page */
.titleLeftSidebar {
    margin: 0 0 20px;
}
.titleLeftSidebarXs {
    font-size: 30px;
    text-transform: uppercase;
    margin: 0 0 30px;
}
.leftMenuDiv {
    border: 1px solid #e1e1e1;
    padding: 10px;
}
#leftMenuUl {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#leftMenuUl ul {
    padding: 5px 0 0 20px;
    list-style: none;
    clear: both;
}
#leftMenuUl ul.submenu {
    display: none;
}
#leftMenuUl li {
    list-style: none;
    clear: both;
    padding: 5px 0;
    margin: 0;
    overflow: hidden;
}
#leftMenuUl a {
    max-width: calc(100% - 40px);
    float: left;
    text-transform: uppercase;
    color: #474747;
    text-decoration: none;
}
#leftMenuUl a:hover {
    color: #ff5f2b;
}
#leftMenuUl li.active > a {
    color: #ff5f2b;
}
#leftMenuUl li.has-active > ul.submenu {
    display: block;
}
#leftMenuUl span.dropLeftMenu {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid #999;
    text-align: center;
    color: #999;
    font-size: 20px;
    line-height: 14px;
    margin: 1px 0 0 10px;
    cursor: pointer;
}

@media only screen and (max-width: 767px) {
    .page-layout-2columns-left .sidebar-main {
        width: 100%;
        padding: 0;
    }
    .leftMenuDiv {
        border: none;
        padding: 0;
    }
    #leftMenuUl {
        background: #e1e1e1;
    }
    #leftMenuUl ul {
        padding: 0;
    }
    #leftMenuUl a {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    #leftMenuUl li {
        padding: 0;
        border-bottom: 1px solid #c2c2c2;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    #leftMenuUl li.level1.parent ul.submenu {
        background: #474747;
    }
    #leftMenuUl li.level1.parent ul.submenu a {
        color: #fff;
    }
    #leftMenuUl li.level0 > a {
        padding-left: 15px;
    }
    #leftMenuUl li.level1 > a {
        padding-left: 30px;
    }
    #leftMenuUl li.level2 > a {
        padding-left: 45px;
    }
    #leftMenuUl li.level3 > a {
        padding-left: 60px;
    }
    #leftMenuUl li.last {
        border-bottom: none;
    }
    #leftMenuUl ul.level0.submenu {
        border-top: 1px solid #c2c2c2;
    }
    #leftMenuUl ul.level1.submenu ul.submenu {
        border-top: 1px solid #c2c2c2;
    }
    #leftMenuUl span.dropLeftMenu {
        margin: 7px 0 0 10px;
    }
    #leftMenuUl li.active > a {
        color: #ff5f2b !important;
    }
}
/* left Menu - category page */

/* Training video */
#popUpTraining {
    position: fixed;
    background: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    display: none;
}
#popUpTraining.open {
    display: block;
}
#trainingVideoWrap {
    position: relative;
    background: #fff;
    padding: 20px;
    width: 100%;
    max-width: 540px;
    top: 50%;
    left: 50%;
    -webkit-transform:  translate(-50%, -50%);
    -moz-transform:  translate(-50%, -50%);
    -ms-transform:  translate(-50%, -50%);
    -o-transform:  translate(-50%, -50%);
    transform:  translate(-50%, -50%);
}
#respTrainingVideo {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
}
#respTrainingVideo > iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
#closePopUpTraining {
    text-align: right;
    right: 0;
    display: block;
    color: #474747;
    font-weight: bold;
    font-size: 24px;
    padding-bottom: 20px;
    text-decoration: none;
    cursor: pointer;
}


@media only screen and (max-width: 980px) {
    .page-products .products-grid .product-item {
        padding: 5px;
        border: 1px solid #e1e1e1;
        width: calc((100% - 20px) / 2) !important;
        margin-left: 20px !important;
        margin-bottom: 20px !important;
    }

    .page-products .products-grid .product-item:nth-child(3n+1) {
        margin-left: 20px !important;
    }

    .page-products .products-grid .product-item:nth-child(2n+1) {
        margin-left: 0 !important;
    }

    .product-item-actions {
        display: block;
    }
}

@media only screen and (max-width: 767px) {
    .action.primary {
        width: 100%;
    }
}

/* Category page - page-layout-2columns-left */

/* Home page */
/* Banner slider */
#bannerHS {
    margin-bottom: 50px;
}

/* Carousel */
.carousel-inner-fix {
    position: relative;
    width: 100%;
    padding: 0 35px;
    margin: 0 auto;
    overflow: hidden;
}

.prevButtonWrap, .nextButtonWrap {
    position: absolute;
    top: 0;
    width: 35px;
    height: 100%;
}

#bannerHS .prevButtonWrap, #bannerHS .nextButtonWrap {
    width: 60px;
}

.prevButtonWrap > img, .nextButtonWrap > img {
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.prevButtonWrap, .prevButtonWrap > img {
    left: 0
}

.nextButtonWrap, .nextButtonWrap > img {
    right: 0
}

.HS-item-wrap {
    border: 1px solid #e1e1e1;
    padding: 10px;
    margin: 0 0 20px;
}

.HS-item-wrap a {
    text-decoration: none;
}

.HS-item-wrap p {
    color: #8d8d8d;
    padding: 10px 0 0;
    margin: 0;
}

.head-homePage {
    color: #474747;
    margin: 0;
    font-weight: 600;
    padding: 0 0 20px;
    font-size: 18px;
    text-transform: uppercase;
}

#bannerHS img {
    max-width: 100%;
    width: 100%;
}

.padHS {
    padding: 0 30px;
}

ol.carousel-indicators {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 0 10px;
    margin: 5px 0 30px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.carousel-indicators li {
    background: #939393;
    border: none;
}

.carousel-indicators li.active {
    background: #424242;
}

#bannerHS .carousel-indicators {
    position: absolute;
    margin: 0;
    bottom: -25px;
    padding: 0;
}

@media only screen and (max-width: 479px) {
    .homeSlider .col-xs-6 {
        width: 100%;
    }
}

/* # Home page */

/* Doctor Review */
img[src=""] {
    display: none;
}

.docReviewItem {
    border: 1px solid #c2c2c2;
    padding: 10px;
    margin-bottom: 10px;
}

.docReviewInner {
    position: relative;
    background: #ebebeb;
    padding: 20px;
}

.review_left_img {
    float: left;
    position: relative;
    width: 100px;
    height: 100px;
    background: #999;
    margin: 0 20px 10px 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.review_left_img > img {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.review_right {
    position: relative;
    width: 100%;
    padding-left: 120px;
}

.review_right ._tit {
    color: #484848;
    font-size: 16px;
    font-weight: bold;
}

.review_right ._content {
    position: relative;
    padding: 0 15px;
}

.review_right ._content,
.review_right ._content p,
.review_right ._content h1,
.review_right ._content h2,
.review_right ._content h3,
.review_right ._content h4,
.review_right ._content h5,
.review_right ._content h6,
.review_right ._content span {
    color: #474747 !important;
    font-size: 14px !important;
    font-weight: normal !important;
    background: transparent !important;
    outline: 0 !important;
    letter-spacing: normal !important;
    line-height: normal !important;
}

.review_right ._content::before, .review_right ._content::after {
    position: absolute;
    content: '';
    width: 11px;
    height: 10px;
    top: 0;
}

.review_right ._content::before {
    left: 0;
    background: url(/pub/media/images/review/left_caret.png) no-repeat center;
}

.review_right ._content::after {
    right: 0;
    background: url(/pub/media/images/review/right_caret.png) no-repeat center;
}

.review_right ._auDate {
    text-align: right;
    margin: 0;
    color: #474747;
}

.review_right ._author {
    font-size: 16px;
}

.review_right ._date {
    font-size: 14px;
    font-style: italic;
}

.review_right ._plus {
    display: none;
    margin-bottom: 15px;
}

.review_right ._plus > img {
    cursor: pointer;
}

@media only screen and (max-width: 767px) {
    .review_left_img {
        float: none;
        margin: 0 auto;
    }

    .review_right ._tit {
        text-align: center;
        padding-top: 10px;
        margin-bottom: 15px;
    }

    .review_right ._auDate {
        text-align: center;
    }

    #doctorReview .col-xs-12 {
        margin-bottom: 20px;
    }

    .review_right {
        padding-left: 0;
    }

    .review_right ._plus {
        display: block;
        text-align: center;
    }

    .review_right ._content, .review_right ._plus.clicked {
        display: none;
    }

    .review_right ._content.clicked {
        display: block;
    }
}

/* # Doctor Review*/

/* Detail page */
.des-detailProduct {
    border-top: 1px solid #e1e1e1;
    color: #818181;
    padding: 20px 0 20px;
}
#tit-training-detail {
    color: #8d8d8d;
    font-weight: bold;
    font-size: 16px;
}
#videoDetailPage {
    position: relative;
    padding-bottom: 56.25%;
}
#videoDetailPage > iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#maincontent .product-info-main {
    width: 50%;
    padding-left: 10px;
}
#maincontent .product.media {
    width: 50%;
    padding-right: 10px;
}

.catalog-product-view .breadcrumbs {
    margin-bottom: 20px;
}
.catalog-product-view .page-title {
    font-size: 30px;
}

/* Slide media */
.fotorama .fotorama__stage {
    border: 1px solid #c2c2c2;
    margin: 0;
    padding: 20px;
}
.fotorama .fotorama__stage__shaft,
.fotorama .fotorama__img {
    width: 100% !important;
}
.fotorama__nav-wrap {
    margin-top: 30px;
}
.fotorama .fotorama__nav--thumbs .fotorama__nav__frame {
    margin-right: 20px;
}
.fotorama .fotorama__img {
    position: absolute;
    top: 0;
    left: 0;
}
.fotorama .fotorama__thumb-border {
    display: none;
}
.fotorama .fotorama__nav__frame--thumb.fotorama__active {
    /*border: 1px solid red;*/
}
@media only screen and (max-width: 767px) {
    .fotorama .fotorama__stage {
        border: none;
        margin: 0;
        padding: 0;
    }
    .product.media {
        padding-top: 20px;
    }
}
    /* Slide media */

/* Related product */
#relatedSliderWrapper {
    width: 100%;
    clear: both;
    padding-top: 30px;
}
/* # Related Product */

.catalog-product-view .column.main {
    width: 100%;
}
@media only screen and (max-width: 767px) {
    #maincontent .product-info-main, #maincontent .product.media {
        width: 100%;
        padding: 0;
    }
}
/* # Detail page */


/* Training Video Page */
.headingTrainVideo {
    font-size: 30px;
    font-weight: bold;
}
.videoItemWrap {
    width: 25%;
    float: left;
    padding: 10px;
}
.videoItem {
    padding: 10px;
    border: 1px solid #e1e1e1;
}
#trainVideoRow a {
    text-decoration: none;
}
.titTrainVideo {
    color: #474747;
    margin: 20px 0 0;
}

@media only screen and (min-width: 480px) and (max-width: 992px) {
    .videoItemWrap {
        width: 50%;
    }
}
@media only screen and (max-width: 479px) {
    .videoItemWrap {
        width: 100%;
    }
}
/* # Training Video Page */

/* Gallery */
.popUpGalleryWrap {
    display: none;
    position: relative;
    background: #fff;
    padding: 20px;
    width: 100%;
    max-width: 540px;
    top: 50%;
    left: 50%;
    -webkit-transform:  translate(-50%, -50%);
    -moz-transform:  translate(-50%, -50%);
    -ms-transform:  translate(-50%, -50%);
    -o-transform:  translate(-50%, -50%);
    transform:  translate(-50%, -50%);
}
.popUpGalleryWrap.open {
    display: block;
}
.titGalleryImg {
    float: left;
    font-size: 20px;
    font-weight: bold;
}
.closePopUpGallery {
    float: right;
    text-align: right;
    display: block;
    color: #474747 !important;
    font-weight: bold;
    font-size: 24px;
    padding-left: 10px;
    padding-bottom: 10px;
    text-decoration: none !important;
    cursor: pointer;
}

.thumbGallery {
    float: left;
    width: 25%;
    padding: 0 5px;
}

.mainImgGallery img {
    width: 100%;
}
/* # Gallery */